%tr{id: dom_id(airplane)}
  %th{class: 'airplane-id'}= airplane.id
  %td{class: 'airplane-name'}= airplane.name
  %td{class: 'airplane-transfer-state'}= transfet_state_links airplane
  %td{class: 'airplane-transfer-state'}= airplane.state
  %td{class: 'airplane-states'}= airplane_states airplane
